div.div1{
    border-style: solid;
border-color: black;
margin-top: 50px;
height: 1400px;
position: relative;
}


div.shop1{
background-image: url('../image/item1.png');

position: absolute;
border-style: solid;
border-color: coral;
margin-top: 50px;
margin-left: 100px;
height: 600px;
width: 500px;
font-family: 'Montserrat', sans-serif;
}
div.shop2{
background-image: url('../image/item2.png');

position: absolute;
border-style: solid;
border-color: coral;
margin-top: 50px;
margin-left: 700px;
height: 600px;
width: 500px;
}
div.shop3{
background-image: url('../image/item3.png');
position: absolute;
border-style: solid;
border-color: coral;
margin-top: 50px;
margin-left: 1300px;
height: 600px;
width: 500px;
}
div.shop4{
position: absolute;
border-style: solid;
border-color: coral;
margin-top: 700px;
margin-left: 100px;
height: 600px;
width: 500px;
}
div.shop5{
position: absolute;
border-style: solid;
border-color: coral;
 margin-top: 700px;
margin-left: 700px;
height: 600px;
width: 500px;
}
div.shop6{
position: absolute;
border-style: solid;
border-color: coral;
  margin-top: 700px;
margin-left: 1300px;
height: 600px;
width: 500px;
}
.ocd{

background-image: url('../image/IC1.png');
object-fit: cover;
margin-top: 70px;
margin-left: 70px;
border-style: solid;
border-color: black;
height: 150px;
width: 150px;
}
.card{

background-image: url('../image/IC1.png');
object-fit: cover;
margin-top: 70px;
margin-left: 200px;
border-style: solid;
border-color: black;
height: 150px;
width: 120px;
}
input{
background: transparent;
border-bottom: 2px solid black;
width: 50px;
text-align: center;
font-size: 20px;
}
.t1{
margin-left: 350px;
margin-top: 370px;  
}
.t2{
margin-left: 350px;
margin-top: 20px;  
}
.t3{
margin-left: 350px;
margin-top: 20px;  
}
.t4{
margin-left: 350px;
margin-top: 20px;  
}
.hidden{
display : none;
}
input.details {
background: transparent;
border-bottom: 1px solid black;
width: 300px;
text-align: center;
font-size: 15px;
}
p{
font-size: 20px;
}
.purchase{
border: 1px solid black;
width: 200px;
text-align: center;
font-size: 15px;
}